.badge-group {
  display: flex;
  > .badge {
    margin: {
      right: 10px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.badge {
  color: #2367d0;
  background-color: #eef4ff;
  border-radius: 2px;
  font-size: 10px;
  line-height: 1;
  padding: {
    top: 5px;
    bottom: 5px;
    left: 7px;
    right: 7px;
  }
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
}
