.article-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: {
    bottom: 20px;
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }

  border-bottom: 3px solid #f1f3f6;

  &--featured {
    flex-direction: column;
    border-bottom: 3px solid #e75650;
    margin: {
      bottom: 30px;
    }
  }

  &--slim {
    width: calc(50% - 13px);
    display: inline-flex;
    margin: {
      left: 10px;
      right: 10px;
    }

    &:nth-child(even) {
      margin: {
        left: 0;
      }
    }

    &:nth-child(odd) {
      margin: {
        right: 0;
      }
    }
  }

  &__meta {
    margin: {
      bottom: 15px;
    }

    .article-card--featured & {
      margin: {
        bottom: 20px;
      }
    }
  }

  &__title {
    font-family: 'Tiempos Headline';
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.3px;
    color: #0c2b59;
    margin: {
      bottom: 5px;
    }

    .article-card--slim & {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    a {
      display: block;
      color: #0c2b59;
      text-decoration: none;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: #e75650;
      }
    }

    .article-card--featured & {
      font-size: 30px;
    }
  }

  time {
    font-size: 12px;
    line-height: 1;
    color: #6c83a6;
    display: block;
    font-weight: 500;
  }

  &__image {
    @media (min-width: 768px) {
      margin: {
        right: 20px;
      }
    }
    .article-card--featured & {
      margin: {
        right: 0;
      }
    }
    img {
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      opacity: 1;
      transform: rotate(0) scale(1);
      .article-card--featured & {
        max-width: 100%;
        height: auto;
      }

      @media (max-width: 768px) {
        min-width: 100% !important;
        max-width: 100% !important;
        height: auto !important;
        width: 100%;
      }
    }

    figure {
      overflow: hidden;
      background-color: #e75650;
      &:hover {
        img {
          opacity: 0.5;
          transform: rotate(5deg) scale(1.3);
        }
      }
    }
  }
}
